.outer_div {
  min-height: 2vh;
  width: 4vh;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  border-radius: 2vh;
  margin-bottom: 5%;
  overflow: hidden;
  padding: 0.5%;
}
.inner_div {
  min-height: 90%;
  width: 50%;
  border-radius: 50%;
  margin: auto;
  margin-left: 2%;
  background-color: #7278dc;
  cursor: pointer;
}
