.todoPanel_div {
  min-height: 100vh;
  width: 60%;
  /* background-color: rgba(255, 255, 255, 0.2); */
  box-shadow: 1px 5px 22px rgba(0, 0, 0, 0.171);
  /* box-shadow: -5px -5px 15px #afa6dfc0, 5px 5px 15px rgba(17, 17, 17, 0.4),
    inset 5px 5px 10px #afa6dfc0, inset -5px -5px 15px rgba(17, 17, 17, 0.4); */
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: baseline;
  overflow-x: scroll;
  scrollbar-width: none;
  max-width: auto;
}
